# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Felipe Clavijo}
- {Laura Garcia}
- {Hassan Yavuz}
- {Sara Baar}
- {Maxine Zazulak}
- {Sonal}

## Tasks

1. {Go to Home page to know the product}
2. {Search for a product}
3. {Buy a product}

---

## Individual Results & Observations

### {Felipe Clavijo}

- {He had trouble completing the task specially in the shopping cart page}

### {Laura Garcia}
- {She had trouble completing the task specially in the shopping cart page}

### {Hassan Yavuz}

- {He had trouble completing the task specially in the shopping cart page}

### {Sarah Baar}

- {She had trouble completing the task specially in the shopping cart page}

### {Maxine Zazulak}

- {She had trouble completing the task specially in the shopping cart page}

### {Sonal}

- {She had trouble completing the task specially in the shopping cart page}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had problems with the navigation bar.}
- Nav bar dissapears when using th keybord and/or the voice over.

### Serious, Causes Frustration, May Hinder Completion

- {none
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {none}
- etc.