---
layout: default
title: Home
meta: "Covering everything monster-related: links, photos, videos, info."
showbanner: yes
---

<main role="main">
	<div class="box grid list-group-item-inline">
		<div class="unit gutter unit-s-1 unit-m-1-1 unit-l-1-2">
			<h2>Who knew?</h2>
				<p>Apparently making paper toy monsters is kind of a big deal to a certain small group of art and design enthusiasts. And like street art, break dancing, wrestling, or any other niche art groove, there are heroes, villains, elaborate story lines, and great names (not just of the monsters but of the designers themselves). Oh, and no small amount of nerd factor. I basically knew nothing about this—is “movement” too strong of a word?—but apparently like any hobby, it can be extremely addictive, so let that be a warning.dwdwdwdwdwdwdwdwd</p>
		</div>
		<div class="unit gutter unit-m-1-1 unit-l-1-2">
				<img src="../images/whonew.jpg" class="img-flex" alt="who new monster">
		</div>
	</div>

	<div class="list-group-item-inline box">
			<div class="unit gutter unit-s-1 unit-m-1-3 unit-l-1-2 unit-xl-1-2"> {% include promo-large.html title="50% 0ff" image="promo_large.jpg" %}
				<div class="gutter media grid">
					<h3>$15.99 CAN</h3>
					<a href="#" class="btn-round mega">Buy Now</a>
				</div>
			</div>
			<div class="list-group-item-inline box img-list-small">
				<h3>View Also</h3>
				<div class="unit gutter unit-s-1 unit-m-1-3 unit-l-1-2 unit-xl-1-2"> {% include promo-small.html title="Official Book with 50 monsters designs" image="promo-small/swank_promo_small.jpg" %}
					<div class="gutter">
						<h6>15% off regular price</h6>
					</div>
				</div>

				<div class="unit gutter unit-s-1 unit-m-1-3 unit-l-1-2 unit-xl-1-2"> {% include promo-small.html title="Mystic Owls promo" image="promo-small/owls_promo_small.jpg" %}

					<div class="gutter">
						<h6>25% 0ff or FREE for new members!</h6>
					</div>
				</div>

				<div class="unit gutter unit-s-1 unit-m-1-3 unit-l-1-2 unit-xl-1-2"> {% include promo-small.html title="Cubic Monsters crazyness" image="promo-small/cubes_promo_small.jpg" %}
					<div class="gutter">
						<h6>Limited edition, offer expires in 2015</h6>
					</div>
				</div>
			</div>
	</div>
</main>
