# User Testing Report

User testing was conducted by Lorena Franco on March 24, 2014 between the times of 8:45 and 9:10 with the following participants:

- {Laura Garcia}
- {Felipe Clavijo}
- {Adriana Granieri}

## Tasks

1. Nav through home, monsters, and about
2. navegate through different categories
3. Search for product and do a complete purchase

---

## Individual Results & Observations

### {Laura Garcia}

- {She clicked on the link as expected…}
- {She didn't have troubles completing a specific task…}
- {She asked for a cart page suitable for small screen}

### {Felipe Clavijo}

- {He clicked on the link as expected…}
- {He didn't have troubles completing a specific task…}

### {Adriana Granieri}

- {She clicked on the link as expected…}
- {She didn't have troubles completing a specific task…}
- {She asked for a cart page suitable for small screen}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…cart page suitable for small screen}

### Minor, Annoying, Won’t Hinder Completion

- {none}
