---
layout: default
title: Monsters
meta: All the paper toy monsters that you can create

---
<div class="grid"> 
	<div class="unit unit-s-1 unit-m-1-2 unitl-1-3">
		<h1>Monsters</h1>
	</div>
	<div class="unit unit-s-1 unit-m-1-2 unitl-1-3">
		<p>This are the Monsters Categories page.</p>
	</div>
</div>

<ul>
	{% for monsters in site.pages %}
		{% if monsters.category == 'earth monsters' %}
			<li>
				<a href="{{monsters.url}}">
					<img src="{{site.baseurl}}/images/{{monsters.image}}" alt="">
					{{monsters.name}}
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>

<ul>
	{% for monsters in site.pages %}
		{% if monsters.category == 'ocean monsters' %}
			<li>
				<a href="{{monsters.url}}">
					<img src="{{site.baseurl}}/images/{{monsters.image}}" alt="">
					{{monsters.name}}
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>

<ul>
	{% for monsters in site.pages %}
		{% if monsters.category == 'space monsters' %}
			<li>
				<a href="{{monsters.url}}">
					<img src="{{site.baseurl}}/images/{{monsters.image}}" alt="">
					{{monsters.name}}
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>

<ul>
	{% for monsters in site.pages %}
		{% if monsters.category == 'mutant monsters' %}
			<li>
				<a href="{{monsters.url}}">
					<img src="{{site.baseurl}}/images/{{monsters.image}}" alt="">
					{{monsters.name}}
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>

