---
layout: default
title: monsters
meta: All the paper toy monsters that one can imagine.
shownavigation: yes
---
<h1>Categories</h1>
<nav role="navigation">
 	<ul class="clearfix">
    <li class="green line"><a class="{% if page.url == '/monsters/terrestrialis/' %}current{% endif %}" href="{{site.baseurl}}/monsters/terrestrialis/">Terrestrialis</a>
    <li class="pink"><a class="{% if page.url == '/monsters/oceanus/' %}current{% endif %}"href="{{site.baseurl}}/monsters/oceanus/">Oceanus</a>
    <li class="orange"><a class="{% if page.url == '/monsters/extraterrestrialis/' %}current{% endif %}"href="{{site.baseurl}}/monsters/extraterrestrialis/">Extraterrestrialis</a>
  </ul>
</nav>
<main role="main" class="grid box-product monstername">
	<div class="unit gutter unit-s-1 unit-m-1 unit-l-1-2 unit-mxl-1-3 unit-xl-1-3">
		<ul>
			{% for monsters in site.pages %}
				{% if monsters.category == 'earth monster' %}
					<li class="">
						<a href="{{monsters.url}}" alt="earth monster">
						<img class="img-m-index"src="{{site.baseurl}}/images/{{monsters.image}}" alt="earth monster">
							<div class="unit gutter unit-s-1 unit-m-1 unit-l-1-2 unit-mxl-1 unit-xl-1">
								{{monsters.name}}
								{{monsters.category}}
							</div>
						</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	<div class="unit gutter unit-s-1 unit-m-1 unit-l-1-2 unit-mxl-1-2 unit-xl-1-3">
		<ul>
			{% for monsters in site.pages %}
				{% if monsters.category == 'ocean monster' %}
					<li>
						<a href="{{monsters.url}}">
						<img class="img-m-index" src="{{site.baseurl}}/images/{{monsters.image}}" alt="ocean monster">
							<div class="unit gutter unit-s-1 unit-m-1 unit-l-1-2 unit-mxl-1 unit-xl-1">
								{{monsters.name}}
								{{monsters.category}}
							</div>
						</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	<div class="unit gutter unit-s-1 unit-m-1 unit-l-1-2 unit-mxl-1-2 unit-xl-1-3">
		<ul>
			{% for monsters in site.pages %}
				{% if monsters.category == 'space monster' %}
					<li>
						<a href="{{monsters.url}}">
						<img class="img-m-index" src="{{site.baseurl}}/images/{{monsters.image}}" alt="space monster">
							<div class="unit gutter unit-s-1 unit-m-1 unit-l-1-2 unit-mxl-1 unit-xl-1">
								{{monsters.name}}
								{{monsters.category}}
							</div>
						</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	<div class="unit gutter unit-s-1 unit-m-1 unit-l-1-2 unit-mxl-1-2 unit-xl-1-3">
		<ul>
			{% for monsters in site.pages %}
				{% if monsters.category == 'mutant monster' %}
					<li>
						<a href="{{monsters.url}}">
						<img class="img-m-index" src="{{site.baseurl}}/images/{{monsters.image}}" alt="mutant monster">
							<div class="unit gutter unit-s-1 unit-m-1 unit-l-1-2 unit-mxl-1 unit-xl-1">
								{{monsters.name}}
								{{monsters.category}}
							</div>
						</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</main>

