
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

hr {
  margin-bottom: 2rem;

}
.shopper {
  text-transform: lowercase;
  font: normal 100%/1.5 'Raleway', sans-serif;
  line-height: 0.5em;
  display: inline-block;
}

.li-cart {
  color: #000;
  text-align: center;
}


.shopper h1{
  text-transform: uppercase;
  color: #ffff;
}

p {
  color: #4c4c4c;
}

input {
  border: 0.3em solid #c0392b;
  padding: 0.5em 0.3em;
  font-size: 1em;
  color: #8a8a8a;
  text-align: center;
}

.img {
  max-width: 9em;
  width: 100%;
  overflow: hidden;
  margin-right: 1em;
}

a {
  text-decoration: none;
}

.container {
  max-width: 75em;
  width: 90%;
  margin: 40px auto;
  overflow: hidden;
  position: relative;
  font: normal 100%/1.5 'Raleway', sans-serif;
  border-radius: 0.6em;
  background: #ecf0f1;
  box-shadow: 0 0.5em 0 rgba(138, 148, 152, 0.2);
}

.heading {
  font-size: .5rem;
  position: relative;
  z-index: 1;
  color: #f7f7f7;
  background: #c0392b;
  padding: .1rem;

}

.heading h1 {
  font-size: 2rem;
}

.cart {
  margin: 2.5em;
  overflow: hidden;
}

.cart.is-closed {
  height: 0;
  margin-top: -2.5em;
}

.table {
  background: #ffffff;
  border-radius: 0.6em;
  overflow: hidden;
  clear: both;
  margin-bottom: 1.8em;
  display: none;
}


.layout-inline > * {
  display: inline-block;
}

.align-center {
  text-align: center;
}

.th {
  background: #f34d35;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8em;
}

.tf {
  background: #f34d35;
  text-transform: uppercase;
  text-align: right;
  font-size: 1.2em;
}

.tf p {
  color: #fff;
  font-weight: bold;
}

.col {
  padding: 1em;
  width: 12%;
}

.col-pro {
  width: 44%;
}

.col-pro > * {
  vertical-align: middle;
}

.col-numeric p {
  font: bold 1em 'Raleway', sans-serif;
}

.col-total p {
  color: #12AB89;
}

.tf .col {
  width: 20%;
}

.row > div {
  vertical-align: middle;
}

.row-bg2 {
  background: #f7f7f7;
}

.visibility-cart {
  position: absolute;
  color: #fff;
  top: 0.5em;
  right: 0.5em;
  font:  bold 2em arial;
  border: 0.16em solid #fff;
  border-radius: 2.5em;
  padding: 0 0.22em 0 0.25em ;
}

.col-qty > * {
  vertical-align: middle;
}

.col-qty > input {
  max-width: 2.2em;
}


a.qty {
  width: 1em;
  line-height: 1em;
  border-radius: 2em;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  background: #43ace3;
  color: #fff;
}

a.qty:hover {
  background: #3b9ac6;
}


.btn {
  margin: .4rem;
  float: right;
  padding: 5px 15px;
  border-radius: 0.3em;
  font-size: 1.2em;
  font-weight: bold;
  background: #43ace3;
  color: #fff;
  box-shadow: 0 3px 0 rgba(59,154,198, 1)
}

.btn:hover {
  box-shadow: 0 3px 0 rgba(59,154,198, 0)
}

.updt-large {
  display: none;
}

.transition {
  transition: all 0.3s ease-in-out;
}

@media only screen and (min-width: 35em) {

  .heading {
  padding: .4em;
  position: relative;
  z-index: 1;
  color: #f7f7f7;
  background: #c0392b;

  }

  .visibility-cart {
  font-size: 3em;
  }

  .heading h1 {
  font-size: 2.5rem;
  }

}

@media only screen and (min-width: 45em) {

  .btn {
  padding: 10px 30px;
  border-radius: 0.3em;
  font-size: 1.4em;
  font-weight: bold;
  background: #43ace3;
  color: #fff;
  box-shadow: 0 3px 0 rgba(59,154,198, 1)
}

  .btn-update {
  float: right;
  margin: 0 0 1.5em 0;
  }

  .updt-large {
  display: block;
  }

  .updt-small {
  display: none;
  }

  .li-cart {
    display: none;
  }

  .table {
    display: table;
  }

  img {
    max-width: 100%;
    margin-bottom: 1em;
  }
}

@media only screen and (min-width: 75em) {

.col-pro {
    width: 35%;
  }

  .col-qty {
    width: 22%;
  }

  .col-numeric p {
  font: bold 1.8em 'Raleway', sans-serif;
  }
}
