@charset "UTF-8";
/* CSS Document */

/*
  Colour Palette
  - Grey text: #5C5C5C - rgb(92,92,92)
  - Blue: #4FBAF2 - rgb(79,186,242)
  - Orange: #ff6600 - rgb(255,102,0)
  - Fuchsia: #ff00ff - rgb(255,0,255)
  - Pink: #ee82a2
  - Dark Orange: #c0392b
  _ Dark Grey: #4E4A45
 */


/* Typography */
/* Ideal Margin for all the elemnts bellow */
h1, h2, h3, h4, h5, h6, p, ul, ol, dl, table {
	margin: 0 0 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Irish Grover', cursive;
}
.monstername {
	font-size: 1.3rem;
	font-family: 'Irish Grover', cursive;
	padding-left: 1%;
}
.zetta {
  font-family: 'Irish Grover', cursive;
  font-size: 2.9860rem;
  line-height: 1.0047;
}

h1, exa {
  font-size: 2.4883rem;
  line-height: 1.2056;

}

h2, peta {
  font-size: 2.0736rem;
  line-height: 1.4468;
  color: #4FBAF2;
}

h3, tera {
  font-size: 1.7280rem;
  line-height: 1.7361;
  color: #ff6600;
}

h4, giga {
  font-size: 1.4400rem;
  line-height: 1.0417;
  color: #ff6600;
}

.mega {
  font-size: 1.2000rem;
  line-height: 1.2500;
}

.kilo {
  font-size: 1.0000rem;
  line-height: 1.5000;
}

.milli {
  font-size: 0.8333rem;
  line-height: 1.8000;
}

/*typography ENDS */

/* Side Table */

.side-list li{
	margin: 1em 0;
	line-height: 1.3;
	text-align: center;
}

.side-list dt{
	color: #ee82a2;
	font-weight: 600;

}

.side-list dd{
	font-style: italic;
	font-size: 0.875rem;
}

/* END of Side Table */

.img-m-index {
	width: 100%;
	position: relative;
	float: none;

}

.img-list-small {
	width: 60%;
	position: relative;
}

.box {
	background-color: #fff;
}

.box-product {
	background-color: #fff;
	margin: 6%;
	border-style: inset;

}

.media-body {
	color: #00000;
}
/* Grid */
.grid {
	overflow: hidden; /*It makes the float from .unit to be separate for each elemnt*/

}

.unit {
	background-color: #ffff;
	float: left;
}

.unit-s-1 {
	width: 100%;
}

.unit-s-1-2 {
	width: 50%;
}

.unit-s-1-3 {
	width: 33.333%;
}

/* Grid ENDS*/

/* Buttons */

.btn-round {
	margin-bottom: 1rem;
	position: relative;
}

.btn-square, /* Target all three to have them all stylized */
.btn-square:link,
.btn-square:visited {
	display: inline-block;
	padding: 0.75rem 1em;
	background-color: #793284;
	background-image: linear-gradiant(to bottom, #793284, #571062);
	border-radius: 4px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	color: #fff;
	font-weight: bold;
	border: 0;
}

.btn-alt, /* Remember to Target all three to have them all stylized and working*/
.btn-alt:link,
.btn-alt:visited {
	background-color: #5d8432;
	background-image: linear-gradiant(to bottom, #5d8432, #3b6210);
}

.btn-semiround, /* Remember to Target all three to have them all stylized and working*/
.btn-semiround:link,
.btn-semiround:visited {
	display: inline-block;
	padding: 0.75rem 1em;
	background-color: #ED3538;
	background-image: linear-gradiant(to bottom, #ED3538, #571062);
	border-radius: 16px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	color: #fff;
	font-weight: bold;
	border: 0;
}

.btn-round, /* Remember to Target all three to have them all stylized and working*/
.btn-round:link,
.btn-round:visited {
	display: inline-block;
	padding: 0.75rem 1em;
	background-color: #c0392b;
	background-image: linear-gradiant(to bottom, #4FBAF2, #571062);
	border-radius: 14px 2px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	color: #fff;
	font-weight: bold;
	border: 0;
	text-decoration: none;
}

/* Buttons Ends */

.monstertype h1{
	color: #ff6600;
}

.monstertype {
	color: #ff6600;
}

@media only screen and (min-width: 30em) {

.img-m-index {
	width: 40%;
	position: relative;
	float: none;
	}

}

@media only screen and (min-width: 30em) {

	.unit-m-1-3 {
		width: 33.333%;
	}

	.unit-m-1 {
		width: 100%;
}

	.unit-m-1-2 {
		width: 50%;
	}

	.unit-m-2-3 {
		width: 50%;
	}

}

@media only screen and (min-width: 55em) {

	.unit-l-1-2 {
		width: 50%;

	}

	.unit-l-1-3 {
		width: 33.3335%;

	}

	.unit-l-2-3 {
		width: 66.666%;

	}
}

@media only screen and (min-width: 65em) {

	.unit-xl-1-2 {
		width: 25%;

	}

	.unit-xl-1-3 {
		width: 33.3335%;

	}

	.unit-xl-2-3 {
		width: 66.666%;

	}
}



