<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}Paper Monsters{% if page.titleAfter %} · {{page.titleAfter}}{% endif %}</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Irish+Grover|Raleway:400,500,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/header.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/footer.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/buckets.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/list-group.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/product-list.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/media-object.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/buttons.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/product-details.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/common.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/cart.css">
</head>
<body>

  {% if page.showbanner %}
<div class="banner">
  <h1>{{page.bannertext}}</h1>
</div>
{% endif %}

  <header>
    <div class="grid">
      <div class="unit unit-s-1-3 unit-m-1-3">
        <form method="get" action="{{site.baseurl}}/search/">
          <input type=search results=5 name=s>
        </form>
      </div>
    </div>
    <div class="grid">
      <div class="unit unit-s-1">
        <img src="{{site.baseurl}}/images/logo.svg" class="logo"  alt="Paper Monsters logo">
        <img src="{{site.baseurl}}/images/logo-m.svg" class="logo-m"  alt="Paper Monsters logo">
        <img src="{{site.baseurl}}/images/logo-l.svg" class="logo-l"  alt="Paper Monsters logo">
      </div>
    </div>
    <nav>
      <ul class="navigation">
        <li class="menu-item"><a class="first menu-link {% if page.url == '/' %}current{% endif %}" href="{{site.baseurl}}/">Home</a>
          <ul>
          <li class="dropdown"><a href="#">Instructions</a></li>
          <li class="dropdown"><a href="#">Your very own paper toys</a></li>
        </ul>
        <li class="menu-item"><a class="second menu-link b {% if page.url == '/monsters/' %}current{% endif %}"href="{{site.baseurl}}/monsters/">Monsters</a>
          <ul>
            <li class="dropdown"><a class="{% if page.url == '/terrestrialis-monsters/' %}current{% endif %}" href="{{site.baseurl}}/monsters/terrestrialis/">Terrestrialis Monsters</a></li>
            <li class="dropdown"><a class="{% if page.url == '/oceanus-monsters/' %}current{% endif %}" href="{{site.baseurl}}/monsters/oceanus/">Oceanus Monsters</a></li>
            <li class="dropdown"><a class="{% if page.url == '/extraterrestrialis-monsters/' %}current{% endif %}" href="{{site.baseurl}}/monsters/extraterrestrialis//">Extraterrestrialis Monsters</a></li>
            <li class="dropdown"><a class="{% if page.url == '/mutantenus-monsters/' %}current{% endif %}" href="{{site.baseurl}}/monsters/mutantenus/">Mutantenus Monsters</a></li>
            <li class="dropdown"><a class="{% if page.url == '/thankyou/' %}current{% endif %}"href="{{site.baseurl}}/thankyou/">ThankYou</a></li>
          </ul>  
        </li>
        <li class="menu-item"><a class="third menu-link c {% if page.url == '/about/' %}current{% endif %}"href="{{site.baseurl}}/about/">About</a>
          <ul>
          <li class="dropdown"><a href="#">Sponsors</a></li>
          <li class="dropdown"><a href="#">Contact</a></li>
         </ul>  
        </li>
      </ul>
    </nav> 
  </header>

<div>
   {{content}}
</div>

<footer>
    <div class="content"><h1 class="h1-footer">Follow Us</h1>
    </div>
        <div class="footer">
          <div class="social">&#62220;</div>
          <div class="social">&#62217;</div>
          <div class="social">&#62223;</div>
          <div class="social">&#62232;</div>
          <div class="social">&#62226;</div>
          <div class="social">&#62214;</div>
        </div>
      <div class="copyright micro milli">
        <p>Copyright © 2014 Paper Monsters. All rights reserved. Designed by Lorena Franco.</p>
      </div>
  </footer>
  <script src="../js/social.js"></script>

</body>
</html>