<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Dinos 'R' Us</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Irish+Grover|Raleway:400,500,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/header.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/footer.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/grid.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/search-field.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/list-group.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/media-object.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/product-list-item.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/product.css">

 </head>
<body>
  <header>
    <div class="grid">
      <div class="unit unit-s-1-3 unit-m-1-3">
        <input class="search"type=search results=5 name=s>
      </div>
    </div>
    <div class="grid">
      <div class="unit unit-s-1">
        <img src="../images/logo.svg" class="logo"  alt="Paper Monsters logo">
        <img src="../images/logo-m.svg" class="logo-m"  alt="Paper Monsters logo">
        <img src="../images/logo-l.svg" class="logo-l"  alt="Paper Monsters logo">
      </div>
    </div>
    <nav>
      <ul class="navigation">
        <li class="menu-item"><a class="first menu-link" href="{{site.baseurl}}/">Home</a>
          <ul>
          <li class="dropdown"><a href="#">Lily </a></li>
          <li class="dropdown"><a href="#">Lalo</a></li>
        </ul>
        <li class="menu-item"><a class="second menu-link b" href="{{site.baseurl}}/about/">About</a>
        <ul>
          <li class="dropdown"><a href="#">Lily </a></li>
          <li class="dropdown"><a href="#">Lalo</a></li>
          <li class="dropdown"><a href="#">Lulu</a></li>
          <li class="dropdown"><a href="#">Lele</a></li>
          <li class="dropdown"><a href="#">Lala</a></li>
        </ul>  
        </li>
        <li class="menu-item"><a class="third menu-link c" href="{{site.baseurl}}/thakyou/">ThankYou</a>
          <ul>
          <li class="dropdown"><a href="#">Location</a></li>
          <li class="dropdown"><a href="#">e-mail</a></li>
          <li class="dropdown"><a href="#">Phone</a></li>
        </ul>  
        </li>
      </ul>
    </nav> 
  </header>

{{content}}

</body>
</html>